<div class="jumbotron" id="jumbotron">
  <h1>IMAGE</h1>
</div>
<h1>Home</h1>

<img src='https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/14134822_203552103393406_2031230199_n.jpg?ig_cache_key=MTMzMDE2ODQ4NjEwMTc4MjcwMw%3D%3D.2' height="100" width="100" onClick="lightbox(this.src)" />

<%= render 'show' %>
